<%= __('Please, confirm your registration') %>


<%= __('Dear') %> <%= user.firstName %> <%= user.lastName %>
<br>
<%= __('As provided in the ') %> <a href='https://lockheal.com/terms'>Terms of Use</a> <%= __(', Lockheal retains a Commission for each transaction in which a Service Provider provide a Service. The Commission amount is 28% of the fee paid by the Customer.') %>
<br>
<%= __('To proceed, please, confirm your registration by clicking the following link:') %>
<br>
<a href="<%= url %>"><%= url %></a>