<%= __('Please, confirm your registration') %>


<%= __('Dear') %> <%= user.firstName %> <%= user.lastName %>
<br>
<%= __('Please, confirm your registration by clicking the following link:') %>
<br>
<a href="<%= url %>"><%= url %></a>