<%= __('You are invited to group') %>


<%= __('Dear') %> <%= user.firstName %> <%= user.lastName %>
<br>
<%= __('You are invited to group') %> <%= group.title %>
<br>
<%= __('If you want to join the group, click the following link:') %>
<br>
<a href="<%= url %>"><%= url %></a>