<%= __('Password reset request') %>


<%= __('Dear') %> <%= user.firstName %> <%= user.lastName %>
<br>
<%= __('Someone has requested that the password for your account be reset.') %>
<%= __('If you did not make this request, please simply disregard this email.') %>
<%= __('To change a new password, please go to the following url:') %>
<br>
<a href="<%= url %>"><%= url %></a>